sudo: required

language: shell

services:
  - docker

cache:
  directories:
    - ${HOME}/conan_data/

before_install:
  - mkdir -p ${HOME}/conan_data

script:
  - docker run -v ${PWD}:/home/conan/src -v ${HOME}/conan_data:/home/conan/.conan/ lasote/conangcc52 src/.travis_script.sh
